* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #272727;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 1000;
    width: 700px;
}

.header-description {
    color: #27272799;
    width: 634px;
    margin: 20px 0px;
}

.banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    height: 700px;
}
.sub-banner-container{
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 700px 0px 700px;
    /* gap: 30px; */
    margin-bottom:20px;
}
.banner-img {
    width: 570px;
    height: 650px;
}
.btn-primary {
    padding: 20px 37px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    border: none;
    font-weight: 700;
}
.service{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eedade;
    margin:50px 220px;
    padding:10px 100px;
    border-radius: 55px;
}
.service-head{
    border:1px solid pink;
    margin-bottom:20px;
    padding:10px;
    background-color: #d87689;
    color:white;
    text-align: center;
}
.list{
    list-style: none;
}
.primary-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
}

.primary-description {
    color: #27272799;
    text-align: center;
    font-size: 15px;
    padding: 10px 500px;
}
.part22{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:70px 200px 0px 200px;
    text-align: center;
    background-color: #2727270D;
    font-size: 10px;
    padding:80px;
    color: rgba(39, 39, 39, 0.80);
}
.part{
    background-size: 50px;
}
.part1-flower-section {
    display: flex;
    justify-content: space-around;
    margin: 10px 280px;
    align-items: center;
}

.item-pic {
    padding: 50px 50px 0 50px;
    background-position: cover;
    border-radius: 300px 300px 0px 0px;
    height: 310px;
    margin-right: 20px;
}

.item-1 {
    background: rgba(167, 33, 98, 0.15);
    width: 250px;
}

.item-2 {
    background: rgba(5, 151, 160, 0.15);
    width: 250px;
}

.item-3 {
    background: rgba(71, 125, 17, 0.15);
    width: 250px;
}

.item-title {
    margin-top: 10px;
    text-decoration: underline;
    background-color: #FFF;
    text-align: center;
}

.part2 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.off {
    color: #E55473;
}

.part2-heading {
    font-size: 35px;
    font-weight: 800;
}

.part2-section {
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 200px 60px 200px;
    text-align: center;
    gap: 100px;
}
.part2-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    margin: 20px 0;
    line-height:20px;
}

.part3-pic {
    margin: 10px 15px 20px 0px;
    width: 270px;
}

.part4-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 180px;
}

.part4 {
    background-image: url('./Flower_Asset/Rectangle\ 9.png');
    background-position: center;
    background-size: contain;
    height: 449px;
    background-repeat: no-repeat;
    width: 1400px;
    padding: 0px 80px;
}

.input-btn {
    display: flex;
    gap: 16px;
    margin: 30px;
}

.searchbar {
    width: 650px;
    border: none;
    padding: 10px;
}

.footer-section {
    background: #111010;
    text-align: center;
    padding: 120px;
    margin: 10px;
}

.footer-heading {
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.footer-description {
    color: rgba(255, 255, 255, 0.664);
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: 50;
}

.flower {
    color: #E55473;
}

small {
    color: #FFFFFF66;
}